body {
  margin: auto 0;
}
body footer {
  background-color: rgb(48, 51, 52);
  color: #ffffff;
  padding: 20px;
}
@media (min-width: 900px) {
  body footer {
    padding: 0 100px 0 100px;
  }
}
body footer .footer__top {
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
@media (min-width: 900px) {
  body footer .footer__top {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 80px 100px 80px;
  }
}
body footer .footer__top .top__site {
  display: flex;
  justify-content: center;
}
body footer .footer__top .top__site p {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
  border: rgb(7, 149, 128) solid 4px;
  font-size: 30px;
  padding: 6px;
  width: min-content;
}
@media (min-width: 900px) {
  body footer .footer__top .top__site p {
    font-size: 50px;
    height: min-content;
    align-self: center;
  }
}
body footer .footer__top .top__information {
  margin: 30px 0 20px 0;
}
body footer .footer__top .top__information .information__data {
  color: #ffffff;
}
body footer .footer__top .top__information .information__data .data__adress {
  display: flex;
  flex-direction: row;
  margin: 15px 0 15px 0;
}
body footer .footer__top .top__information .information__data .data__adress img {
  padding-right: 10px;
  filter: invert(65%) sepia(27%) saturate(966%) hue-rotate(121deg) brightness(93%) contrast(101%);
  margin: 0 5px 0 5px;
}
@media (min-width: 900px) {
  body footer .footer__top .top__information .information__data .data__number {
    display: flex;
    flex-direction: row;
  }
}
body footer .footer__top .top__information .information__data .data__number .data__number__phone, body footer .footer__top .top__information .information__data .data__number .data__number__printer {
  display: flex;
  flex-direction: row;
  margin: 15px 0 15px 0;
}
body footer .footer__top .top__information .information__data .data__number .data__number__phone img, body footer .footer__top .top__information .information__data .data__number .data__number__printer img {
  padding-right: 10px;
  filter: invert(65%) sepia(27%) saturate(966%) hue-rotate(121deg) brightness(93%) contrast(101%);
  margin: 0 5px 0 5px;
}
body footer .footer__top .top__information .information__data .data__number .data__number__phone img :hover, body footer .footer__top .top__information .information__data .data__number .data__number__printer img :hover {
  filter: invert(23%) sepia(68%) saturate(4688%) hue-rotate(295deg) brightness(90%) contrast(87%);
  cursor: pointer;
}
@media (min-width: 900px) {
  body footer .footer__top .top__information .information__data .data__number .data__number__phone {
    margin-right: 60px;
  }
}
@media (min-width: 900px) {
  body footer .footer__top .top__information .information__social__media {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
  }
}
body footer .footer__top .top__information .information__social__media p {
  text-align: center;
  margin: 40px 0 20px 0;
}
@media (min-width: 900px) {
  body footer .footer__top .top__information .information__social__media p {
    margin: 0 10px 0 0;
  }
}
body footer .footer__top .top__information .information__social__media .social__media__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body footer .footer__top .top__information .information__social__media .social__media__list li {
  color: #ffffff;
  list-style-type: none;
  filter: invert(65%) sepia(27%) saturate(966%) hue-rotate(121deg) brightness(93%) contrast(101%);
  margin: 0 5px 0 5px;
  text-align: center;
}
body footer .footer__top .top__information .information__social__media .social__media__list li:hover {
  filter: invert(23%) sepia(68%) saturate(4688%) hue-rotate(295deg) brightness(90%) contrast(87%);
  cursor: pointer;
}
@media (min-width: 900px) {
  body footer .footer__top .top__information .information__social__media .social__media__list li {
    margin: 0 18px 0 18px;
  }
}
body footer .footer__bottom {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
@media (min-width: 900px) {
  body footer .footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  }
}
body footer .footer__bottom .navbar__list {
  margin: 20px 0 10px 0;
  color: #ffffff;
}
@media (min-width: 900px) {
  body footer .footer__bottom .navbar__list {
    display: flex;
    flex-direction: row;
  }
}
body footer .footer__bottom .navbar__list li {
  text-transform: uppercase;
  list-style-type: none;
  font-size: 14px;
  margin: 5px 0 5px 0;
  text-align: center;
  line-height: 1.5;
  padding: 0px;
}
body footer .footer__bottom .navbar__list li:hover {
  filter: invert(23%) sepia(68%) saturate(4688%) hue-rotate(295deg) brightness(90%) contrast(87%);
  cursor: pointer;
}
@media (min-width: 900px) {
  body footer .footer__bottom .navbar__list li {
    margin: 0 20px 0 20px;
  }
}
body footer .footer__bottom .bottom__copyright {
  justify-content: center;
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
}
@media (min-width: 900px) {
  body footer .footer__bottom .bottom__copyright {
    margin-right: 20px;
  }
}/*# sourceMappingURL=footer.css.map */