@font-face {
  font-family: roboto;
  src: url("../font/Roboto-Regular.ttf");
}
@font-face {
  font-family: inter;
  src: url("../font/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: roboto;
  src: url("../font/Roboto-Regular.ttf");
}
@font-face {
  font-family: inter;
  src: url("../font/Inter-VariableFont_slnt,wght.ttf");
}
.color__band_contact {
  min-width: 250px;
  transform: translate(100px, -65px);
  background-color: #F9DE4E;
  width: 150px;
  height: 25px;
  position: absolute;
  z-index: -1;
}
@media (min-width: 600px) {
  .color__band_contact {
    transform: translate(100px, -65px);
  }
}

.color__band_company {
  min-width: 250px;
  background-color: #F9DE4E;
  width: 150px;
  height: 25px;
  position: absolute;
  z-index: -1;
  transform: translate(60px, 25px);
}
@media (min-width: 900px) {
  .color__band_company {
    transform: translate(30px, 20px);
  }
}

.color__band_invoice {
  min-width: 250px;
  background-color: #F9DE4E;
  width: 150px;
  height: 25px;
  position: absolute;
  z-index: -1;
  transform: translate(150px, 25px);
}
@media (min-width: 900px) {
  .color__band_invoice {
    transform: translate(100px, 35px);
  }
}

#page_profile {
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 900px) {
  #page_profile {
    margin-left: 2vw;
    padding: 80px;
    justify-content: flex-start;
  }
}
#page_profile h2 {
  text-align: center;
  margin-bottom: 50px;
  font-family: inter;
  font-size: 2em;
  color: #000000;
  text-transform: capitalize;
  font-weight: 700;
}
@media (min-width: 600px) {
  #page_profile h2 {
    text-align: unset;
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
  }
}
#page_profile img {
  min-width: 250px;
  margin-bottom: 50px;
  align-self: center;
}
@media (min-width: 600px) and (max-width: 899px) {
  #page_profile img {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -2;
    top: 320px;
    left: 350px;
  }
}
@media (min-width: 900px) {
  #page_profile img {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -2;
    top: auto;
    margin-left: 50px;
  }
}

#page_profile .page__head {
  font-weight: 900;
  font-size: 40px;
}
#page_profile .page_info {
  padding: 20px 20px 10px 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 600px) {
  #page_profile .page_info {
    width: fit-content;
    flex-direction: row;
    margin-left: 0;
  }
}
@media (min-width: 900px) {
  #page_profile .page_info p {
    display: flex;
    flex-wrap: wrap;
  }
}
#page_profile .page_info .information__label {
  font-weight: 900;
}
#page_profile .contact__image {
  align-self: center;
}

.info {
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
}
.info .info_title {
  font-weight: 900;
  font-size: 20px;
  line-height: 0.8;
  font-family: inter;
}
.info .info_element {
  font-weight: 600;
  margin-left: 5px;
  font-size: 20px;
  font-family: inter;
}

p {
  margin-bottom: 5px;
}

.contact__image {
  display: flex;
  align-self: center;
}

.separation_main_footer {
  border: #F9DE4E solid 1px;
  margin: 0 20px 0 20px;
}
@media (min-width: 900px) {
  .separation_main_footer {
    margin: 0 100px 0 100px;
  }
}

@font-face {
  font-family: roboto;
  src: url("../font/Roboto-Regular.ttf");
}
@font-face {
  font-family: inter;
  src: url("../font/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: roboto;
  src: url("../font/Roboto-Regular.ttf");
}
@font-face {
  font-family: inter;
  src: url("../font/Inter-VariableFont_slnt,wght.ttf");
}
main .page_profile .page__head {
  font-family: inter;
  font-weight: 900;
  font-size: 50px;
}
main .section__contact {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 20px;
}
@media (min-width: 900px) {
  main .section__contact {
    align-self: flex-start;
    justify-content: space-between;
    margin: 40px 0 40px 0;
    padding-left: 130px;
  }
}
main .section__contact h2 {
  color: #000000;
  font-weight: 900;
  font-size: 2em;
}
@media (min-width: 900px) {
  main .section__contact h2 {
    font-size: 50px;
  }
}
@media (min-width: 900px) {
  main .section__contact .contact__identity {
    display: flex;
    justify-content: start;
  }
}
main .section__contact .contact__identity .person {
  margin: 15px 0 40px 0;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  text-align: center;
  font-family: inter;
  font-size: 20px;
}
@media (min-width: 900px) {
  main .section__contact .contact__identity .person {
    margin-right: 150px;
    display: flex;
    flex-direction: row;
    width: 376px;
    height: 193px;
  }
}
main .section__contact .contact__identity .person img {
  max-width: 100px;
  padding-bottom: 20px;
}
@media (min-width: 900px) {
  main .section__contact .contact__identity .person img {
    max-width: 100%;
    padding: 20px;
    margin: 0;
  }
}
main .section__contact .contact__identity .person p {
  font-weight: 900;
}
@media (min-width: 900px) {
  main .section__contact .contact__identity .person p {
    align-self: center;
    padding: 20px;
    font-size: 35px;
    width: min-content;
  }
}

h2 {
  color: #000000;
  font-size: 45px;
  font-family: roboto;
  margin: 20px 0 20px 0;
  font-size: 50px;
  margin-bottom: 25px;
  font-weight: 900;
  font-family: inter;
}

.file_pic {
  position: absolute;
  z-index: -5;
  max-width: 120px;
  right: 0;
  transform: translateY(150px);
}/*# sourceMappingURL=show_company.css.map */