@import './variables_footer.scss';
$light_blue:rgb(241, 255, 255);

#form_section{
    font-family: $inter_police ;
    background-color: white;
    border-radius: 15px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 20px;
    width: 71vw;
    h3{
        font-weight: 700;
    }
    input{
        margin-top: 15px;
        padding:5px 10px;
        background-color: $light_blue;
        width:70vw;
        border: none;
        border-radius: 5px;   
    }
    button, #edit_submit{
        margin-top: 15px;
        padding: 5px 10px;
        width: 70vw;
        background-color: $dashboard_header;
        color: white;
        border: none;
        text-align: left;
        font-weight: 400;
        
    }
}