@mixin buttonLogo($url){
    background-image: url($url);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-x: center;
    @media (min-width:600px){
        background-position:120px 30px;
    }
}

#dashboard__navbar{
    position: sticky;
    top: 0;
    padding-top: 5vh;
    background-color: white;
    @media (min-width:600px) {
        max-width: 285px;
        height: 100vh;
    }
    .navbar__admin_block{
       width:132px;
       margin-left: auto;
       margin-right: auto;
        h3{
            width:50px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding: 2vh 0;
        }
    }
    .navbar__buttons{
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 400px;
        text-align: center;
        padding: 0 0 2vh 0;
        @media (min-width:600px){
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .btn_dashboard{
          @include buttonLogo("../img/dashboard_logo.svg");
        }
        .btn_invoices{
            @include buttonLogo("../img/invoices_logo.svg");
          }
        .btn_companies{
            @include buttonLogo("../img/companies_logo.svg");
          }
        .btn_contacts{
            @include buttonLogo("../img/contacts_logo.svg");
          }
        .nav{
            border: 0;
            background-color:unset;
            padding: 30px 5px 0 5px;
            @media (min-width:600px) {
                padding: 15px 5px 15px 5px;
            }
            &:hover{
                cursor: pointer;
                color: rgb(90, 0, 128);
            }
        }
    }
}


$light_blue:rgb(241, 255, 255);
body{
    background-color: $light_blue;
}

p{padding-top: 50px; 
}


hr:last-of-type{
    display: none;
    position: absolute;
}
.navbar__logout{
    display: flex;
    position: absolute;
    width:150px;
    justify-content: space-between;
    top: 10px;
    text-align: center;
    img{
        display: none;
        max-width: 60px;
    }
    a{
        
        color:rgb(150, 152, 214);
        :hover{
            cursor: pointer;
            color: aliceblue;
        }
    }
}