$light_blue:rgb(241, 255, 255);

@mixin buttonLogo($url){
    background-image: url($url);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-x: center;
    @media (min-width:600px){
        background-position:0px 13px;
        :hover{filter:saturate(1);}
    }
}

#dashboard__navbar{
    position: sticky;
    top: 0;
    padding-top: 5vh;
    background-color: white;
    @media (min-width:600px) {
        position: fixed;
        width: 200px;
        height: 100vh;
    }
    .navbar__admin_block{
       width:132px;
       margin-left: auto;
       margin-right: auto;
        h3{
            width:50px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding: 2vh 0;
        }
    }
    .navbar__buttons{
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 400px;
        text-align: center;
        padding: 0 0 2vh 0;
        @media (min-width:600px){
            display: flex;
            flex-direction: column;
            width: 150px;
            text-align: justify;
            margin-left: 30px;

        }
        .btn_dashboard{
          @include buttonLogo("../img/dashboard_logo.svg");
        }
        .btn_invoices{
            @include buttonLogo("../img/invoices_logo.svg");
          }
        .btn_companies{
            @include buttonLogo("../img/companies_logo.svg");
          }
        .btn_contacts{
            @include buttonLogo("../img/contacts_logo.svg");
          }
        .nav{
            border: 0;
            background-color:unset;
            padding: 30px 5px 0 5px;
            @media (min-width:600px) {
                padding: 15px 5px 15px 40px;
            }
            &:hover{
                cursor: pointer;
                color: rgb(90, 0, 128);
            }
        }
    }
}



body{
    background-color: $light_blue;
}

p{padding-top: 50px; 
}

.navbar__hline{
    opacity: 0.5;
    margin-right: 5px;
}

.navbar__hline:last-of-type{
    display: none;   
    @media (min-width:600px){
        display: block; 
        transform:translateY(160px);
    }
}
.navbar__logout{
    display: flex;
    position: absolute;
    width:150px;
    @media (min-width:600px){
            width:180px;
            margin-left: 10px;    
            transform: translateY(650px);  
        }

    justify-content: space-between;
    top: 10px;
    text-align: center;
    img{
        max-width: 60px;
        @media (max-width:599px){display: none;}
    }
    a{       
        color:rgb(150, 152, 214);
        @media (min-width:600px){margin-top: 20px;}
        :hover{
            cursor: pointer;
            color: aliceblue;
        }
    } 
}