@import 'mixin_footer.scss'; 
@import'variables_footer.scss'; 

body{
    margin: auto 0;
    footer{
        background-color: $grey;
        color: #ffffff;
        padding: 20px;
        .footer__top{
            display: flex; 
            flex-direction: column;
            .top__site{
                display: flex;
                justify-content: center;
                p{
                    @include cogip;
                    width: min-content;
                }
            }
            .top__information{
                margin: 30px 0 20px 0;
                .information__data{
                    color: #ffffff;
                    .data__adress{
                        display: flex;
                        flex-direction: row;
                        margin: 15px 0 15px 0;
                        img{
                            padding-right: 10px; 
                            @include icons; 
                        }
                    }
                    .data__number__phone, .data__number__printer{
                        display: flex;
                        flex-direction: row;
                        margin: 15px 0 15px 0;
                        img{
                            padding-right: 10px;
                            @include icons;
                        }
                    }
                }
                .information__social__media{
                    p{
                        text-align: center;
                        margin: 40px 0 20px 0;
                    }
                    .social__media__list{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        li{
                            @include socialMedia;
                            &:hover{
                                @include hover; 
                            }
                        }
                    }
                }
            }
        }
        .footer__bottom{
            .navbar__list{
                flex-direction: column;
                margin: 20px 0 10px 0 ;
                    color: #ffffff;
                li{
                    @include contactList;
                    &:hover{
                        @include hover; 
                    }
                }
            }
            .bottom__copyright{
                justify-content: center;
                text-align: center;
                font-size: 12px;
                margin-top: 20px;
            }
        }
    }
}
