@import 'mixin_footer.scss'; 
@import'variables_footer.scss'; 

body{
    margin: auto 0;
    footer{
        background-color:$white;
        color: $text_footer;
        padding: 20px;
        @media (min-width: 900px){
            padding: 0 100px 0 100px;
        }
        .footer__top{
            display: flex; 
            flex-direction: column;
            font-family: $inter_police;
            @media (min-width: 900px){
                flex-direction: row;
                justify-content: space-between;
                margin: 0 80px 100px 80px;
                @media (min-width: 900px) {
                    margin: 20px 80px 60px 80px;
                }
            }
            .top__site{
                display: flex;
                justify-content: center;
                p{
                    @include cogip_footer;
                    width: min-content;
                    @media (min-width: 900px){
                        font-size: 50px;
                        height: min-content;
                        align-self: center;
                    }
                }
            }
            .top__information{
                margin: 30px 0 20px 0;
                .information__data{
                    color: $text_footer;
                    .data__adress{
                        display: flex;
                        flex-direction: row;
                        margin: 15px 0 15px 0;
                        img{
                            padding-right: 10px; 
                            @include icons; 
                        }
                    }
                    .data__number{
                        @media (min-width: 900px){
                            display: flex;
                            flex-direction: row;
                        }
                        .data__number__phone, .data__number__printer{
                            display: flex;
                            flex-direction: row;
                            margin: 15px 0 15px 0;
                            img{
                                padding-right: 10px;
                                @include icons;
                                :hover{
                                    @include hoverNav; 
                                }
                            }
                        }
                        .data__number__phone{
                            @media (min-width: 900px){
                                margin-right: 60px;
                            }
                        }
                    }
                }
                .information__social__media{
                    @media (min-width: 900px){
                        display: flex;
                        flex-direction: row;
                        margin-top: 35px;
                    }
                    p{
                        text-align: center;
                        margin: 40px 0 20px 0;
                        @media (min-width: 900px){
                            margin: 0 10px 0 0; 
                        }
                    }
                    .social__media__list{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        li{
                            @include socialMedia;
                            &:hover{
                                @include hoverNav; 
                            }
                            @media (min-width: 900px){
                                margin: 0 18px 0 18px;
                            }
                        }
                    }
                }
            }
        }
        .footer__bottom{
            font-family: $inter_police;
            @media (min-width: 900px){
                display: flex;
                justify-content: space-between;
                padding-bottom: 50px;
            }
            .navbar__list{
                margin: 20px 0 10px 0 ;
                    color: $text_footer;
                    @media (min-width: 900px){
                        display: flex;
                        flex-direction: row;
                    }
                    a{
                        text-decoration: none;
                        color: $text_footer;
                        li{
                            @include contactList;
                            &:hover{
                                @include hoverNav; 
                            }
                            &:visited{
                                color: $text_footer;
                            }
                            @media (min-width: 900px){
                                margin: 0 20px 0 20px;
                            }
                        }
                    }
            }
            .bottom__copyright{
                justify-content: center;
                text-align: center;
                font-size: 12px;
                margin-top: 20px;
                @media (min-width: 900px){
                    margin-right: 20px ;
                }
            }
        }
    }
}
