@import'variables_footer.scss'; 


@mixin title {
    color: $title_color; 
    font-size: 45px;
    font-family: $roboto_police;
    margin: 20px 0 20px 0;
}

@mixin cogip_header {
    color : $title_color; 
    font-weight: 900;
    font-family: $roboto_police;
    font-size: 48px;
}

@mixin cogip_footer {
    text-transform: uppercase;

    font-weight: 900;
    color: $cogip_footer;
    border: $yellow solid 4px;
    font-size: 48px;
    padding: 5px;
    font-family: roboto;
}

@mixin contactList {
    text-transform: uppercase;
    list-style-type: none;
    font-size: 14px;
    margin : 5px 0 5px 0 ; 
    text-align: center;
    line-height: 1.5;
    padding: 0px;
}

@mixin socialMedia{
    color: $text_footer;
    list-style-type: none;
    @include icons; 
    text-align: center;
}

@mixin icons{
    filter: invert(88%) sepia(76%) saturate(715%) hue-rotate(320deg) brightness(110%) contrast(95%);
    margin: 0 5px 0 5px;
}

@mixin hoverNav {
    filter: invert(23%) sepia(68%) saturate(4688%) hue-rotate(295deg) brightness(90%) contrast(87%); 
    cursor: pointer;
}

@mixin pagination($pl) {
    color : $title_color; 
    margin: 0 5px 0 5px;
    padding: 5px $pl 5px 10px; 
    text-decoration: none;
    border: $grey_page solid 1px;
    border-radius: 5px;
}

@mixin person_card {
    background-color: rgba($color: #000000, $alpha: 0.01);
    border-radius: 15px;
}

@mixin button_parameter{
    font-family: $roboto_police; 
    font-size: 20px;
    // -webkit-text-stroke-width: 1px;
    color: $title_color;
    text-decoration: none;
    font-weight: 600;
   // border: $yellow solid 1px;
    padding: 10px;
    &:hover{
        cursor: pointer;
        background-color: white;
        //border: black solid 1px;
        // padding: 10px;
    }
}
// @mixin header_element_spacing{
//     padding-top: 5px;
//     padding-bottom: 5px;
// }

@mixin colorBand{
    background-color: $yellow;
    width: 150px;
    height: 25px;
    position: absolute;
    z-index: -1;
}