@import './variables_footer.scss'; 
@import './mixin_footer.scss'; 


@mixin default_spacing($spacing){
    margin-bottom: $spacing;
}

@mixin font_size($size){
    font-size: $size;
}

.color__band_contact{
    min-width: 250px;
    transform: translate(100px, -65px);
    @include colorBand; 
    @media (min-width:600px) {
        transform: translate(100px, -65px);
    }
}
.color__band_company{
    min-width: 250px;
    @include colorBand; 
    transform: translate(60px, 25px);
    @media (min-width:900px){
        transform: translate(30px, 20px);
    }
}
.color__band_invoice{
    min-width: 250px;
    @include colorBand; 
    transform: translate(150px, 25px);
    @media (min-width:900px){
        transform: translate(100px, 35px);
    }
}

#page_profile{
    margin-right: auto;
    display: flex;
    flex-direction: column;
    @media (min-width:900px) {
        margin-left: 2vw;
        padding: 80px ; 
        justify-content: flex-start;
    }
    h2{
    text-align: center;
    @media (min-width:600px) {
        text-align: unset;
        font-weight: 900;
        font-size: 50px;
        text-transform: uppercase;
    }
    @include default_spacing(50px);
    font-family: $inter_police;
    @include font_size(2em);
    color: $title_color;
    text-transform: capitalize;
    font-weight: 700; 
    }
    img{
        min-width: 250px;
        @include default_spacing(50px);
        align-self: center;
        @media (min-width:600px) and (max-width:899px) {
            width: 200px;
            height: 200px;
            position: absolute;
            z-index: -2;
            top: 320px;
            left: 350px;
        }
        @media (min-width:900px){
            width: 200px;
            height: 200px;
            position: absolute;
            z-index: -2;
            top: auto;
            margin-left: 50px;
            
        }
     
    }
}

#page_profile{
    // display: flex;
    // padding-top: 30px;
    // @media (min-width:900px) {
    //     // flex-direction: row;
    //     flex-direction: column;
    // }
    .page__head{
        font-weight: 900;
        font-size: 40px;
    }
    .page_info{
      
        padding: 20px 20px 10px 20px;
        margin-left: auto;
        margin-right: auto;
        @media (min-width:600px) {
            width: fit-content;
            flex-direction: row;
            margin-left: 0;
        }
        p{
            @media (min-width:900px){
                display: flex;
                flex-wrap: wrap;
            }
        }
        .information__label{
            font-weight: 900; 
        }
    }
    .contact__image{
        align-self: center;
    }
}
.info{
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    .info_title{
        font-weight: 900; 
        font-size: 20px;
        line-height: 0.8;
        font-family: $inter_police; 
    }
    .info_element{
        font-weight: 600;
        margin-left: 5px;
        font-size: 20px;
        font-family: $inter_police;
    }
}
p{
    margin-bottom: 5px;
}
.contact__image{
    display: flex;
    align-self: center;
}
.separation_main_footer{
    border: $yellow solid 1px;
    margin: 0 20px 0 20px;
    @media (min-width:900px){
        margin: 0 100px 0 100px;
    }
}