@import'./variables_footer.scss';
@import'./mixin_footer.scss'; 

main{
    display: flex;
    flex-direction: column;
    margin: 50px 30px 80px 30px;
    @media (min-width : 900px){
        margin: 50px 50px 80px 50px;
    }
    font-family: $inter_police;
    .section{
        align-self: center;
        margin: 40px 0 40px 0 ;
        @media (min-width : 900px){
            width: 900px;
        }
        h3{
            color: $title_color; 
            // font-size: 45px;
            font-size: 30px;
            font-family: $inter_police;
            margin: 30px 0 30px 0;
            font-weight: 900;
            @media (min-width:900px){
                font-size: 60px;
            }
        }
        table{
            @media (min-width : 900px){
                font-size: 20px;
            }
            th{
                background-color: $yellow;
                color: $title_color;
                text-align: left;
                font-weight: 600;
                padding: 10px;
                width: 900px;
            }
            tr{
                background-color: $row;
                font-size: 12px;
                td{
                    color : $title_color;
                    font-weight: 600;
                    padding: 5px 10px 5px 10px;
                    max-width: 40px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    a{
                        text-decoration: none;
                        color: $title_color;
                        font-style: italic;
                        &:hover{
                            color: $hover;
                            cursor: pointer;
                        }
                    }
                }
            }
            tr:nth-child(even){
                background-color: $white;
            }
        }
        .invoices_table{
            margin-bottom: 20px;
        }
        .contacts__table_section{
            max-width: 300px;
            margin: 0 20px 0 20px;
        }
        .pagination{
            display: flex;
            justify-content: center;
            margin-top: 30px;
            a{
                @include pagination; 
                &:hover{
                    color : $page; 
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
            .current-page{
                font-weight: 700;
                color:#ffffff; 
            }
        }
    }
}