@import'./variables_footer.scss';
@import'./mixin_footer.scss'; 

main{
    display: flex;
    flex-direction: column;
    margin: 50px 30px 80px 30px;
    @media (min-width : 900px){
        margin: 50px 50px 80px 50px;
    }
    font-family: $text;
    .section{
        align-self: center;
        margin: 40px 0 40px 0 ;
        @media (min-width : 900px){
            width: 900px;
        }
        h3{
            color: #ffffff; 
            font-size: 45px;
            font-family: $impact;
            margin: 30px 0 30px 0;
        }
        table{
            th{
                background-color: $grey;
                color: #ffffff;
                text-align: left;
                padding: 10px;
                width: 900px;
            }
            tr{
                background-color: rgb(153, 214, 205);
                font-size: 12px;
                @media (min-width : 900px){
                    font-size: 14px;
                }
                td{
                    color : $grey;
                    padding: 5px 10px 5px 10px;
                    max-width: 30px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    a{
                        text-decoration: none;
                        color: $grey;
                        font-style: italic;
                        &:hover{
                            color: $hover;
                            cursor: pointer;
                        }
                    }
                }
            }
            tr:nth-child(even){
                background-color: #e0fbff;
            }
        }
        .invoices_table{
            margin-bottom: 20px;
        }
        .contacts__table_section{
            max-width: 300px;
            margin: 0 20px 0 20px;
        }
        .pagination{
            display: flex;
            justify-content: center;
            margin-top: 30px;
            a{
                @include pagination; 
                &:hover{
                    color : $page; 
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
            .current-page{
                font-weight: 700;
                color:#ffffff; 
            }
        }
    }
}