
@font-face {
    font-family: roboto;
    src: url('../font/Roboto-Regular.ttf');
}

@font-face {
    font-family: inter;
    src: url('../font/Inter-VariableFont_slnt\,wght.ttf');
}

//Variables couleur 
$yellow : #F9DE4E; 
$white : #FFFFFF; 
$title_color : #000000;
$line : #CDCDCD; 
$text_footer : #737373;
$row : #f5f5f5; 
$cogip_footer : #434138;
$roboto_police : roboto; 
$inter_police : inter; 
$page: rgb(124, 3, 140); 
$hover: rgb(3, 172, 51);
$grey_page:  #919EAB; 
$filter: #636363; 

