$blue: rgb(7, 149, 128); 
$grey : rgb(48, 51, 52); 
$hover: rgb(3, 172, 51); 
$text :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$impact : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$page: rgb(124, 3, 140); 

//Changement de Design
$yellow : #F9DE4E; 
$white : #FFFFFF; 
$title_color : #000000;
$line : #CDCDCD; 
$text_footer : #737373;
