@import './variables_footer.scss'; 

#headline {
    display: flex;
    flex-flow: row wrap;
    justify-content:  center;
    .headline_bg{
        position:absolute;
        z-index: -1;
    }
    h2{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 4em;
        color: whitesmoke;
        max-width:500px;
        @media (max-width: 600px) {
            font-size: 2em;
            max-width: 250px;
        }
    }
    .headline_illustration{
        max-width:700px;
        @media (max-width: 600px) {
            max-width: 350px;
        }
    }
}

body{
    main{
        .bottom__section{
            display: flex;
            justify-content: center;
            flex-direction: column;
            @media (min-width: 900px){
                justify-content: space-between;
            }
            .section__illustration{
                display: flex;
                justify-content: center;
                flex-direction: column;
                position: relative;
                transform: translateY(80px);
                p{
                    color: $title_color;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 900;
                    font-size: 34px;
                    position: relative;
                    transform: translateY(100px);
                    @media (min-width: 900px){
                        font-size: 68px;
                        text-align: left;
                    }
                }
                img{
                    align-self: center;
                }
                .illustration__drawkit{
                    max-width: 300px;
                    position: relative;
                    transform: translateY(150px);
                }
            }
        }
    }
    .illustration__rectangle{
        width: 375px;
    }
}